.container {
  display: flex;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.menu {
  flex-shrink: 0;
  width: 320px;
}

.form {
  flex-shrink: 0;
  max-width: 480px;
}

.error {
  color: #f00;
  text-align: center;
}
